* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --white: #f8f8f8;
  --gray: #a8a8b3;
  --red: #ea4335;
  --purple: #835afd;
  --color-body: #29292e;
}

body {
  background: var(--white);
  color: var(--color-body);
}

body,
input,
button,
textarea {
  font: 400 1.6rem "Roboto", sans-serif;
}

.react-toggle {
  cursor: pointer;
  position: relative;
  touch-action: pan-x;
  user-select: none;
}

.light{
  color:#3f3f46;
  background: #f8f8f8;
}

.dark{
  color:#f8f8f8;
  background:#3f3f46;
}

p {
  .light{
    color:#3f3f46;
  }
  .dark{
    color:#f8f8f8;
  }
}